:root{
    --foreground-dark: #6a8f43;
    --foreground-light: #9C78FF;
    --background-dark:#8F8518;
    --background-lighy: #DBD051;
    
}
*{box-sizing: border-box;}
body {
    background-color: var(--background-dark);
    margin:0;
    min-height: 1000px;
}

a{
    text-decoration: none;
    color: inherit;
}


.bodyHeader {
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}


h1{
    /* jeśli podajemy 2 wartości : poz y, poz x */
    margin: 6px 10px;
    /* clamp przyjmuje wartości - najmniejsza mozliwa czcionka (na ile najmniej moze się wyświetić, średnia i największa) */
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
}

#toggler{
    display: none;
}

#toggler:checked ~ ul{
    right: 0;
}

label{
    /* border: 5px dashed red; */
    width: 2rem;
    height: 2rem;
    position:absolute;
    top:0;
    right:0;
    margin:.15rem;
}

label div{
    height:2px;
    width:80%;
    background-color: #000;
    position:absolute;
    width: 80%;
    background-color: #000;
    position: .2s;
  }
  
  label div:nth-child(1){
    top:calc( 22% - 1px);
  }
  
  label div:nth-child(2){
    top:calc( 50% - 1px);
  }
  label div:nth-child(3){
    top:calc( 78% - 1px);
  }

  #toggler:checked ~ label div:nth-child(1){
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  #toggler:checked ~ label div:nth-child(2){
    opacity:0;
  }
  #toggler:checked ~ label div:nth-child(3){
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }


.bodyHeader nav{
    position: relative;
}

ul{
    background-color: var(--foreground-light);
    list-style-type: none;
    margin:0;
    padding: 0.5rem;;
    display:flex;
    position:fixed;
    right:-100%;
    top:2.1rem;
    height:calc(100% - 2.1rem);
    transition:.5s;
    flex-direction: column;
}

li{
    top: 0;
    left: 0;
    margin: .3rem;
}
/* warunek, wyłapujący wyświetlanie na komputerze */
@media (min-width:768px){
    ul{
        /*display:none; */
        flex-direction: row;
        position:static;
        background-color: transparent;
    }   
    label{
        display:none;
        display:none;
}
}

form{
    border: 5px dashed red;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

input, textarea{
    padding: 10px;
}

img{
    max-width: 100%;
}

form{
    width: 50%;
}
.wraperr{
    /* border:5px dashed pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wraperr header{
    width: 100%;
}

main header {
    border: 5px dashed yellow;
}
