body {
    background-color: rgba(46, 139, 86, 0.997); 
    margin: 0;
    min-height: 1000px;
}

.bodyHeader {
    border: 5px dashed red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}



h1{
    /* jeśli podajemy 2 wartości : poz y, poz x */
    margin: 6px 10px;
}

ul{
    border: 5px dashed yellow;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li{
    border: 5px dashed blue;
    top: 0;
    left: 0;
}
/* warunek, wyłapujący wyświetlanie na telefonie */
@media (max-width:768px) {
    ul{
        /*display:none; */
        flex-direction: column;
    }    
}

form{
    border: 5px dashed red;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

input, textarea{
    padding: 10px;
}

img{
    max-width: 100%;
}

form{
    width: 50%;
}
.wrapper{
    /* border:5px dashed pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper header{
    width: 100%;
}

main header {
    border: 5px dashed yellow;
}
